header {
    margin: 1em auto;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flex-item {
    flex: 0 1 10%;
    width: 70%;
    height: 70%;
}